{% extends 'base.html' %}

{% block header %}
<div class="container-lg" id="cloudservices-header">
  <h1>{% block title %}Managed Cloud Services{% endblock %}</h1>
  <p>
    Embark on a transformational journey with IT Cloud Path, our tailored cloud solutions will harness the innovation and scalability of Cloud computing
    to make your business thrive.
  </p>
</div>
{% endblock %}

{% block content %}
<div class="container row" id="cloudservices-content">
  <div class="heading" id="cloudservices-heading">
  <h2>Cloud services that we managed include: </h2>
  </div>
    <div class="cloudservices-item col-6">
    <h3>Cloud Infrastructure Management</h3>
    <p>
      Whether you need a private, public, or hybrid cloud solution, we can help you design, deploy, and manage your cloud infrastructure.
      Our experts will work with you to identify the right cloud solution for your business needs and budget.
    </p>
    </div>
    <div class="cloudservices-item col-6">
    <h3>Cloud Consulting</h3>
    <p>
      Our consultancy can help you leverage cloud computing technologies efficiently to make informed decisions and optimize your business.
    </p>
    </div>
    <div class="cloudservices-item col-6">
    <h3>Business Continuity and Disaster Recovery</h3>
    <p>
      We offer a range of disaster Recovery and Business Continuity solutions to ensure your IT infrastructure remains safe and secure.
      Consultants assist clients in developing disaster recovery and business continuity plans to ensure that critical data and applications remain available in the event of an outage or disaster.
    </p>
    </div>
    <div  class="cloudservices-item col-6">
      <h3>Productivity and Collaboration Solutions</h3>
      <p>
        Whether you need to use Microsoft 365 or Google Workspace apps, we can help you implement, deploy, and manage these productivity apps to protect your data and applications.
        Improve your business's collaboration and productivity with M365 and Google Workspace apps.
      </p>
    </div>
</div>
{% endblock %}