{% extends 'base.html' %}

{% block header %}
<div class="container-lg" id="itservices-header">
  <h1>{% block title %}Managed IT Services{% endblock %}</h1>
  <p>
    With IT Cloud Path, your business will be empowered with the tools and services you need to succeed.
    Our comprehensive suite of IT services and technology solutions will help you navigate the ever-evolving IT landscape and allow you to focus on your core business.
  </p>
</div>
{% endblock %}

{% block content %}
<div class="container row" id="itservices-content">
  <div class="heading" id="itservices-heading">
  <h2>Our suite of IT services includes:</h2>
  </div>
  <div class="itservices-item col-6">
      <h3>IT Consulting</h3>
      <p>
        Our experienced consultants work closely with your organization to create IT strategies tailored to your unique needs and goals.
        We'll help you align technology with your business objectives.
      </p>
  </div>
  <div class="itservices-item col-6">
      <h3>Identity and Access Management</h3>
      <p>
        We help you implement and manage identity and access management solutions to protect your data and systems from unauthorized access.
      </p>
  </div>
  <div class="itservices-item col-6">
      <h3>Network Management</h3>
      <p>
        We optimize your network performance, reliability, and security, enabling seamless communication and connectivity.
      </p>
  </div>
  <div class="itservices-item col-6">
      <h3>Endpoint Detection and Response</h3>
      <p>Protecting your business is our top priority.
        We offer comprehensive cybersecurity solutions to safeguard your data, networks, and systems from cyber threats.
      </p>
  </div>
  <div class="itservices-item col-6">
      <h3>Backup and Disaster Recovery</h3>
      <p> 
        We offer a range of backup and disaster recovery strategies to ensure your IT infrastructure remains safe and secure.
      </p>
  </div>
  <div class="itservices-item col-6">
      <h3>Mobile Device Management</h3>
      <p>
        We help you manage your mobile devices, including operating systems, applications, and hardware.
      </p>
  </div>
  <div class="itservices-item col-6">
      <h3>Help Desk Support</h3>
      <p>
        We offer 24/7 support to ensure your IT infrastructure runs smoothly, allowing your team to focus on strategic initiatives rather than IT issues.
      </p>
  </div>
  <div class="itservices-item col-6">
      <h3>IT Asset Management</h3>
      <p>
        We help you manage your IT assets, including hardware, software, and data.
      </p>
  </div>
</div>
{% endblock %}